@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
}

:root {
  --blue: #002e6d;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  width: 100%;
  max-width: 1180px;
  padding: 0 30px;
  margin: 0 auto;
}

/*! HEADER STYLE STARTED */

.header-section {
  position: sticky;
  top: 0;
  background-color: #fff;
  z-index: 10;
}

.header__section-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-logo {
  width: 140px;
  height: 33px;
}

.header__nav-item {
  padding: 24px 0px;
}

.header__nav-link {
  font-size: 16px;
  font-weight: 600;
  color: var(--blue);
  padding: 0px 20px;
}

.header__section-icons {
  display: flex;
  align-items: center;
}

.header__section-icons i {
  font-size: 30px;
  color: var(--blue);
  margin-left: 10px;
}

/*! HEADER STYLE FINISHED */

/* !HERO STYLE STARTED */
.hero__section {
  width: 100%;
  height: 86vh;
  background-image: url(/img/hero.png);
  background-size: contain;
  background-position: top center;
  background-repeat: no-repeat;
}
/* !HERO STYLE FINISHED */

/* !KELO STYLE STARTED */

.kelo__section {
  background-image: url(https://www.kelocell.com/images/home_technology_bg.png);
  background-size: contain;
  background-position: top center;
  background-color: rgba(94, 179, 228, 0.1);
}

.kelo__section-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 50px;
}

.site-title {
  font-size: 30px;
  font-weight: 400;
  color: var(--blue);
  padding-top: 7rem;
  margin-left: 6.5rem;
  margin-bottom: 160px;
}

.site-title::before {
  position: absolute;
  top: 50px;
  left: 0;
  display: inline-block;
  content: "";
  background-image: url(https://www.kelocell.com/images/section_title.png);
  width: 170px;
  height: 150px;
  background-size: 170px 150px;
}

.kelo__section-title {
  width: 100%;
  max-width: 420px;
  font-size: 30px;
  color: var(--blue);
  margin-bottom: 25px;
}

.kelo__section-desc {
  width: 100%;
  max-width: 420px;
  font-size: 20px;
  font-weight: 400;
  color: #595a5c;
  line-height: 28px;
  margin-bottom: 90px;
}

.kelo__section-img {
  width: 566px;
  height: 600px;
}

/* !KELO STYLE FINISHED */ ;
