@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --blue: #002e6d;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  width: 100%;
  max-width: 1180px;
  padding: 0 30px;
  margin: 0 auto;
}

/*! HEADER STYLE STARTED */

.header-section {
  position: sticky;
  top: 0;
  background-color: #fff;
}

.header__section-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-logo {
  width: 140px;
  height: 33px;
  margin-right: 44px;
}

.header__nav-item {
  padding: 24px 0px;
}

.header__nav-link {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: var(--blue);
  padding: 0px 20px;
}

.header__section-icons {
  display: flex;
  align-items: center;
}

.header__section-icons i {
  font-size: 30px;
  color: var(--blue);
  margin-left: 10px;
}

/*! HEADER STYLE FINISHED */

/* !HERO STYLE STARTED */
.hero__section {
  width: 100%;
  height: 100vh;
  background-image: url(https://www.kelocell.com/images/products/biogel/banner_KCBiogel_desktop.png);
  background-size: contain;
  background-position: top center;
  background-repeat: no-repeat;
}
/* !HERO STYLE FINISHED */
